*.iml
.gradle/
/local.properties
/.idea/
/.kotlin/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
google-services.json
app/google-services.json
*.jks
*.keystore
key.properties
secrets.properties
.env
/CaptainGame/